<div class="message">
If you want to write more expressive code to work with collections, check my course <a href="https://www.educative.io/courses/getting-started-linq-c-sharp" target="_blank" rel="noopener noreferrer" data-goatcounter-click="LinqCourse-Footer" data-goatcounter-title="Linq Course: Footer">Getting Started with LINQ</a> on Educative, where I cover from what LINQ is, to refactoring conditionals with LINQ and to the its new methods and overloads in .NET6. All you need to know to start using LINQ in your everyday coding.
</div>
